bleach==6.3.0
dj_database_url==3.1.2
Django==6.0.7
django_environ==0.13.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
Pillow==12.3.0
sentry_sdk==2.62.0
gunicorn
psycopg2-binary
whitenoise
django-filter
django-cors-headers
django-axes
